header {

  width: 100%;
  color: $grey-500;
  background-color: $black;
  margin: 0 auto;
  //border: 1px solid $grey-500;

  .container {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $grey-500;
    text-decoration: none;
    padding: 0 .5em;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0;
  }

}